<h1>Edit Project: {{project.name}}</h1>
<form action="/editProject" method="post">
    Name: <input name="name">
    <br>
    Description: <textarea name="description">
</textarea>
    <br>
    Status: <select name="status">
    <option>
        Complete
    </option>
    <option>
        Getting There
    </option>
    <option>
        Not Even Started
    </option>
</select>
    <br>
    <input type="hidden" name="_id" value="{{project._id}}">
    <button >Save Edits</button>
</form>

