<h1>Edit Project: {{this.name}}</h1>
<form method="post" action="/editProject">
    Project name: <input name="name">
    <br>
    Project description: <textarea name="description"></textarea>
    <br>
    Github Link: <input name="githubLink">
    <br>
    Status: <select name="status">
    <option>
        Complete
    </option>
    <option>
        Getting There
    </option>
    <option>
        Not Even Started
    </option>
</select>
    <br>
    <button type="submit">Create Project</button>
</form>