<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <form action="/auth/logout" method="get">
      <button type="submit" >Logout</button>
  </form>
  <form action="/" method="get">
      <button type="submit">Home</button>
  </form>
  <form method="get" action="/listProjects">
      <button type="submit">All Projects</button>
  </form>
  <body>
    {{{body}}}
  </body>
</html>
