<h1>Create New Project</h1>
<form method="post" action="/createProject">
    Project name: <input name="name">
    <br>
    Project description: <textarea name="description"></textarea>
    <br>
    Github Link: <input name="githubLink">
    <br>
    <input type="hidden" name="creator" value="{{req.user._id}}">
    <button type="submit">Create Project</button>
</form>