<h1>New Project</h1>
<form method="post" action="/createProject">
    Project name: <input name="name">
    <br>
    Project description: <textarea name="description"></textarea>
    <br>
    Github Link: <input name="githubLink">
    <br>

    <button type="submit">Create</button>
</form>