<body>
<h1>
    Results from query
</h1>
{{#each results}}
    <a href="/project/{{this._id}}">{{this.name}}</a>
    <br>
    Description: {{this.description}}
    <br>
    Github Link: {{this.githubLink}}
    <br>
    <form action="/project/">

    </form>
{{/each}}
</body>

