<title>
    <script src="/javascripts/addLanguage.js"></script>
</title>
<h3>Enter Your Information Here</h3>

<ul>{{#each messages}}
    <li>{{this}}</li>
{{/each}}
</ul>
<div id="editProfile">
    <form action="/makeProfile" method="POST">

        Status:         <select name="status">
        <option value="busy">Busy</option>
        <option value="free">Free</option>
                    </select>              <br>
        Add any programming languages you skilled in:   <input type="text" id="language"> <button id="addLanguage">Add</button><br>
        <select name="languages" id="languageBox">
        </select>
        <br>
        Add any skills or certifications you have:   <input type="text" id="skill"> <button id="addSkill">Add</button><br>
        <select name="skills" id="skillBox">
        </select>             <br>
        <input type="hidden" name="username" value="{{this.username}}">
        <button type=submit>Submit</button>
    </form>
</div>