body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(white, turquoise);
  margin:0;
}
a {
  color: blue;
  text-decoration: none;
  transition: all 0.3s;
}
 a:hover, a:focus {
   color: inherit;
   text-decoration: none;
   transition: all 0.3s;
 }

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  margin-right: 200px;
  padding: 1px 16px;
  height: 1000px;
}