<div class="card card-header">
	<h1 align="center">Messaging</h1>
</div>

<div class="card card-body">
	<div id="messaging-body">
		
	</div>
	<div class="input-group-prepend">
	  <button class="btn btn-outline-secondary" type="button">Button</button>
	</div>
  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>