<h1>Edit Project: {{project.name}}</h1>
<form action="/editProject" method="post">
    <br>
    Status: <select name="status">
    <option value="Complete">
        Complete
    </option>
    <option value="Getting There">
        Getting There
    </option>
    <option value="Not Even Started">
        Not Even Started
    </option>
</select>
    <br/>
    <br>
    <input type="hidden" name="_id" value="{{project._id}}">
    <button >Save Status</button>
</form>

